{
    "env": {
        "es6": true
    },
    "extends": "airbnb",
    "rules": {
        "no-multiple-empty-lines": "error",
        "no-trailing-spaces": "error",
        "no-console": "off",
        "indent": ["error", 2],
        "no-plusplus": "off",
        "no-restricted-syntax": "off"
    }
}